# Dependencias
node_modules/

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/settings.json
.idea/
*.swp
*.swo

# Temporales
*.tmp
*.temp
*.bak

# Build
dist/
build/
out/

# Electron
electron-builder.yml
*.asar

# Env
.env
.env.local

# Archivos de desarrollo personal
notas_personales.md
TODO.md
